{
  "env": {
    "jest/globals": true,
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "plugin:react/jsx-runtime"],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "jest"],
  "rules": {
    "indent": ["error", 2],
    "no-console": ["error", { "allow": ["warn", "error", "info", "log"] }],
    "prefer-const": ["error", { "destructuring": "all" }],
    "import/no-import-module-exports": ["error", { "exceptions": ["**/src/index.jsx"] }],
    "jsx-a11y/label-has-associated-control": ["error", { "required": { "some": ["nesting", "id"] } }],
    "jsx-a11y/click-events-have-key-events": "off",
    "no-underscore-dangle": "off",
    "semi": ["warn", "always"],
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-mixed-operators": "off",
    "quote-props": ["error", "as-needed"],
    "func-names": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
