{
  "env": {
    "jest/globals": true,
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "jest", "react-hooks"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  },
  "rules": {
    "indent": ["error", 2],
    "no-console": ["error", { "allow": ["warn", "error", "info", "log"] }],
    "prefer-const": ["error", { "destructuring": "all" }],
    "import/no-import-module-exports": ["error", { "exceptions": ["**/src/index.jsx"] }],
    "jsx-a11y/label-has-associated-control": ["error", { "required": { "some": ["nesting", "id"] } }],
    "jsx-a11y/click-events-have-key-events": "off",
    "no-underscore-dangle": "off",
    "semi": ["warn", "always"],
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-mixed-operators": "off",
    "quote-props": ["error", "as-needed"],
    "func-names": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
